.radiowrapper {
    width: 720px;
    margin: 0 auto;
    background-color: #fff;
    height: 1200px;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    padding: 40px;
}

.radiowrapper .u-title {
    height: 40px;
    border-bottom: 2px solid #c20c0c;
    font-weight: normal;
}

.more {
    float: right;
    margin-top: 14px;
    color: #666;
    font-size: 12px;
}

.radiowrapper .u2-title {
    font-size: 24px;
    font-weight: normal;
}

.radiowrapper .u2-title a {
    color: #333;
}

.radiowrapper li {
    float: left;
    width: 40%;
    height: 161px;
    margin-left: 30px;
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid #e7e7e7;
}

.radiowrapper li img {
    float: left;
    width: 120px;
    height: 120px;
}

.radio-link {
    float: left;
    font-size: 18px;
    color: #333;
    margin: 16px 15px 20px;
    font-weight: bold;
    cursor: pointer;
}

.radio-link:hover {
    text-decoration: underline;
    color: #333;
}