.container {
    display: block;
}

.left-nav {
    position: absolute;
}

.top-nav {
    background-color: #242424;
    height: 75px;
}

.top-nav .ant-col {
    line-height: 75px;
}

.left-nav li {
    display: inline-block;
    float: left;
    line-height: 75px;
    font-size: 15px;
    text-align: center;
}

.left-nav li:hover {
    background: #000000;
}

.left-nav li a {
    padding: 0 20px;
    display: block;
    color: #cccccc;
}

.left-nav a:hover {
    color: #cccccc;
}

.login {
    color: #787878;
    font-size: 14px;
    padding: 0 0 0 35px;
}

.search {
    border-radius: 15px;
}

input::-webkit-input-placeholder {
    /* placeholder字体大小 */
    font-size: 12px;
}

.selected {
    background-color: #000000;
}

.ant-modal-header {
    color: #ffffff;
    /*background: #2d2d2d;*/
}

.ant-modal-content {
    width: 400px;
}

.ant-modal-body {
    left: 40px;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    display: block;
    width: 100%;
}

.ant-form-item-control-input-content {
    width: 100%;
}

.user-name {
    width: 100%;
}

.password {
    width: 100%;
}

.forget-pwd {
    margin-bottom: 0;
    width: 100%;
}
